# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS Code / IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# -------------------------
# MATLAB
# -------------------------
*.asv
*.m~

# Numerical / scientific data
*.npy
*.npz
*.mat
*.png
*.pkl
*.csv
*.gif
*.mp4
*.jpg
*.jpeg
*.json
*.mat
*.out


